@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
}
#page{
    flex-wrap: wrap;
    background-color: grey;
    width: 30%;
    height: 40%;
}
#title{
    color: white;
    font-size:2vw;
    background-image: url();
}